
<div class="row">
    <div class="col-md-12 mg-t-10">
        <div class="main-card shadow">
        <table class="main-table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Início</th>
                    <th>Tempo</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: competitions">
                <tr>
                    <td data-bind="text: $data.Name"></td>
                    <td data-bind="text: $data.DtStart"></td>
                    <td data-bind="text: $data.CompetitionTime"></td>
                    <td>
                        <button type="button" class="table-button danger-button"></button>
                    </td>
                </tr>
            </tbody>
        </table>

        </div>
    </div>
</div>