
<div class="row">
    <div class="col-md-12 mg-t-10">
        <div class="main-card shadow">

        <h1>Questões</h1>
        <table class="main-table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Letra</th>
                    <th>Descrição</th>
                    <th>Cor</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: questions">
                <tr>
                    <td data-bind="text: $data.QuestionId"></td>
                    <td data-bind="text: $data.Letter"></td>
                    <td data-bind="text: $data.Description"></td>
                    <td data-bind="text: $data.Color"></td>
                </tr>
            </tbody>
        </table>

        </div>
    </div>
</div>