<div class="row">
    <div class="col-md-12 mg-t-10">
        <div class="main-card shadow">
            <div class="row">
                <div class="form-group col-7">
                    <label>Descrição</label>
                    <input type="text" name="description" data-bind="value: $data.question.description" class="form-control">
                </div>
                <div class="col-1 form-group">
                    <label>Letra</label>
                    <input type="text" name="letter" data-bind="value: $data.question.letter" class="form-control">
                </div>
                <div class="col-2 form-group">
                    <label>Cor</label>
                    <input type="color" data-bind="value: $data.question.color" class="form-control" style="height: 38px"/>
                </div>
                <div class="col-2 form-group mg-t-30">
                    <button data-bind="click: $data.saveQuestion" class="button btn-success" type="button">Salvar</button>
                </div>
            </div>
            
        </div>
    </div>
</div>