<div class="row">
    <div class="col-md-12 mg-t-10">
        <div class="main-card shadow">
            <div class="row">
                <div class="form-group col-5">
                    <label>Descrição</label>
                    <input type="text" name="description" data-bind="value: $data.question.description" class="form-control" maxlength="50">
                </div>
                <div class="col-2 form-group">
                    <label>Letra</label>
                    <input type="text" name="letter" data-bind="value: $data.question.letter" class="form-control" maxlength="1">
                </div>
                <div class="col-3 form-group">
                    <label>Color</label>
                    <select data-bind="options: $data.listColor,
                        optionsText: 'value',
                        value: $data.question.color,
                        optionsCaption: 'Selecione...'" class="form-control">
                    </select>
                </div>
                <div class="col-2 form-group mg-t-30">
                    <button data-bind="click: $data.saveQuestion" class="button btn-success" type="button">Salvar</button>
                </div>
            </div>
            
        </div>
    </div>
</div>